# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
docs/.obsidian/*
# to exlude virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# to exclude IDEA files
.idea
# Cache
__pycache__/
pypicache.json
pypicache_small.json
pypiPackages.ttl
*.out
results.ttl
token.txt
code/repos/
code/results/