requests==2.32.3
pandas==2.2.2
gitpython==3.1.43
rpy2==3.5.16
pyyaml==6.0.2
aiohttp==3.10.3
beautifulsoup4==4.12.3
bibtexparser @ git+https://github.com/sciunto-org/python-bibtexparser@main
tqdm==4.66.5